.button {
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #3B3A63;
}

.button_colored {
  background-color: #EF7F04;
}

.header__button {
  position: relative;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 20px 13px 47px;
}

.header__button::after {
  content: "";
  display: block;
  width: 22px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 13px;
}

.header__button[data-request="froze"]::after {
  background: url("/assets/icons/header/froze.png") no-repeat center;
}

.header__button[data-request="calculation"]::after {
  background: url("/assets/icons/header/calculation.png") no-repeat center;
}

body {
  font-family: "Roboto", sans-serif;
}

nav,
ul {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #EF7F04;
}
