.button {
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
  background-color: $mainColor2;

  &_colored {
    background-color: $mainColor1;
  }
}

.header__button {
  position: relative;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 20px 13px 47px;

  &::after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;

    position: absolute;
    top: 10px;
    left: 13px;
  }

  &[data-request="froze"]::after {
    background: url('/assets/icons/header/froze.png') no-repeat center;
  }

  &[data-request="calculation"]::after {
    background: url('/assets/icons/header/calculation.png') no-repeat center;
  }
}

.request-form__button {
  align-self: center;
  font-size: 14px;
  line-height: 16px;
  padding: 19px 40px;
}

.quality-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 19px;
  padding: 17px 54px 18px 76px;
  margin-bottom: 40px;

  &::after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;

    position: absolute;
    top: 17px;
    left: 34px;
    background: url('/assets/icons/header/calculation.png') no-repeat center;
  }
}

.about__button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 32px 18px 72px;
  font-size: 16px;
  line-height: 19px;

  &::after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;

    position: absolute;
    top: 16px;
    left: 28px;

    background: url('/assets/icons/header/froze.png') no-repeat center;
  }
}