.quality {
  text-align: center;
  padding-bottom: 54px;

  &__row {
    padding: 15% 3.5% 6% 3.5%;
    margin-bottom: 56px;
    background-image: url('/assets/images/quality/quality-text.png'), url('/assets/images/quality/quality-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 35px, 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3%;
    border-radius: 3px;
  }

  &__item {
    max-width: 18%;
    min-height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-icon {}

  &__item-desc {
    min-height: 57px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

}