.request {
  padding: 65px 0;
  background-color: #333349;
  background-image: url('/assets/images/request/bg.jpg');

  &__wrapper {
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    column-gap: 4.2%;
  }

  &__benefits {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__headling {
    width: 100%;

    & span:first-child {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: $mainColor1;
    }

    & span:nth-child(2) {
      display: block;
      max-width: 460px;
      font-weight: 100;
      font-size: 36px;
      line-height: 42px;
      color: #fff;
    }

  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row-elem {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  &__row-icon {
    width: 92px;
    height: 85px;
    position: relative;
    left: -9px;
  }

  &__row-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }
}