@import "./clear";
@import "./variables";
@import "./headlings";
@import "./request";
@import "./header";
@import "./buttons";
@import "./request-form";
@import "./services";
@import "./products";
@import "./quality";
@import "./about";
@import "./portfolio";
@import "./faq";

body {
  font-family: $mainFont;
}

main {
  background-color: #F2F2F2;
}

.visually-hidden {
  display: none;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width:992px) {
    max-width: 900px;
    padding: 10px;
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  &__item {
    padding: 10px 25px;

    font-size: 18px;
    line-height: 21px;
    color: $headerColorDark;
    transition-duration: 300ms;
    transition-property: background-color;
    cursor: pointer;

    &:hover {
      color: #fff;
      border-radius: 3px;
      background-color: $mainColor1;
    }
  }
}