@import "./clear";
@import "./variables";
@import "./request";
@import "./header";
@import "./buttons";
@import "./request-form";

body {
  font-family: $mainFont;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}