@import "./clear";
@import "./variables";
@import "./headlings";
@import "./request";
@import "./header";
@import "./buttons";
@import "./request-form";
@import "./services";

body {
  font-family: $mainFont;
}

main {
  background-color: #F2F2F2;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}